@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.sticky {
  @apply a2z a2D[9999] a8 az a4a;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .header-logo {
  @apply a3z lg:aK;
}

.sticky .menu-scroll.active {
  @apply aJ;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply a4b aY a11[7px];
}
.navbarTogglerActive > span:nth-child(2) {
  @apply a14;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply a11[-8px] a4c[135deg];
}

.input-field {
  @apply a5
  a12
  a3z
  a1k
  a3o[#f8f8f9]
  aV
  a4d
  a3C
  focus-visible:aE
  focus:a3f
  aH
  a1J
  a1K
  a4e
  a8;
}

.portfolio-buttons button.active {
  @apply a1h a1g;
}
